@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

       <h1>Estoy en la vista del controllador  @ViewBag.token</h1>


    <script type="text/javascript">
        localStorage.setItem("token","@ViewBag.token"); 
                            let getToken = localStorage.getItem("token"); 

        window.location.href ="../posts/listado";
    </script>
 @* <script src="../js/mercadolibre.js"></script>  *@
</body>
</html>