@{
  Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

       <h1>Lista de productos a la venta <strong id="totaldeproductos"></strong></h1>

       <input type="text" class="form-control" autocomplete="off" id="myInput" onkeyup="busquedaTabla()" placeholder="Buscar producto" title="Teclear">
       <br>
   <table class="table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Título</th>
      <th scope="col">Imagen</th>
      <th scope="col" id="precio">Precio</th>
      <th scope="col" id="cantidad">Cantidad</th>
    </tr>
  </thead>
  <tbody>
       <tbody id="ListaProductos"></tbody>
  </tbody>
</table>

    <script src="../js/mercadolibre.js"></script>
    <script src="../js/tabla.js"></script>

</body>
</html>